* {
    padding: 0;
    margin: 0;
}
html,
body {
    position: relative;
    height: 100%;
    -webkit-tap-highlight-color:transparent;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide,
.swiper-slide-copy {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    /* background-color: #f66; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}
.swiper-slide .slide-baby,
.swiper-slide-copy .slide-baby {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-music {
    position:fixed;
    top: 6vh;
    right: 8vw;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    outline: none;
    background: url('./assets/icon_music.png') no-repeat center / cover;
    border: 1px solid rgba(255,255,255,.8);
    z-index: 99;
    animation: play-music linear 10s infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
.btn-music.playing {
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

@keyframes play-music {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.slide1-top {
    position: absolute;
    top: 30px;
    width: 30vw;
    height: 20vw;
    /* border: 1px solid red; */
    background: url('./assets/slide1_sweetlove.png') no-repeat center / contain,
                url('./assets/slide1_flower.png') no-repeat center / contain;
}
.slide1-name {
    position: absolute;
    bottom: 24vh;
    padding: 1px;
    width: 40vmin;
    /* height: 14vmin; */
    background: url('./assets/slide1_and.png') no-repeat center / 2vmin auto;
    /* border: 1px solid red; */
    /* padding: 2vmin 0 0; */
    color: #fff;
    font-size: 5vmin;
}
.slide1-name-left {
    /* outline: 1px solid blue; */
    padding: 2vmin 0 0;
    background: url('./assets/slide1_groom.png') no-repeat right top / 5vmin auto;
}

.slide1-name-right {
    margin-left: 4vmin;
    /* outline: 1px solid blue; */
    padding: 2vmin 0 0;
    background: url('./assets/slide1_bride.png') no-repeat left top / 5vmin auto;
}

.slide1-footer {
    position: absolute;
    bottom: 10vh;
    /* border: 1px solid red; */
    width: 60vmin;
    height: 20vmin;
    background: url('./assets/slide1_footer.png') no-repeat center / 100% auto;
}

.slide2-layer,
.slide4-layer,
.slide5-layer {
    position: absolute;
    top: 40vh;
    z-index: 1;
    width: 100%;
    height: 20vh;
    background-color: rgba(255,0,0,.3);
}
.slide2-layer h1,
.slide5-layer h1,
.slide4-layer h1 {
    position: absolute;
    top: 50%;
    margin-top: -5vmin;
    width: 100%;
    height: 10vmin;
    /* outline: 1px solid blue; */
    background: url('./assets/slide2_h1.png') no-repeat center / contain;
}
.slide4-layer h1 {
    background-image: url('./assets/slide4_h1.png');
}
.slide5-layer h1 {
    background-image: url('./assets/slide5_h1.png');
}

.slide3-1,
.slide3-2,
.slide3-3,
.slide3-4 {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-color: rgba(255,0,0,.3);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
}
.slide3-1 {
    top: 0;
    left: 0;
    background-image: url('./assets/slide3_text1.png');
}
.slide3-2 {
    top: 0;
    right: 0;
    background-image: url('./assets/slide3_text2.png');
}
.slide3-3 {
    bottom: 0;
    left: 0;
    background-image: url('./assets/slide3_text3.png');
}
.slide3-4 {
    bottom: 0;
    right: 0;
    background-image: url('./assets/slide3_text4.png');
}

.slide6-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 30vmin;
    height: 30vmin;
    /* outline: 1px solid red; */
    background: url('./assets/slide6_top.png') no-repeat center / contain;
}
.slide6-flower {
    position: absolute;
    bottom: 0;
    width: 30vmin;
    height: 36vh;
    /* outline: 1px solid red; */
    background: url('./assets/slide6_flower.png') no-repeat center / contain;

}
.slide6-footer {
    position: absolute;
    bottom: 7vh;
    width: 100%;
    height: 4vmin;
    background: url('./assets/slide6_footer.png') no-repeat center / contain;
    /* outline: 1px solid red; */
}

.slide7-bar1,
.slide7-bar2,
.slide10-bar1,
.slide10-bar2 {
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -16vmin;
    width: 100%;
    height: 14vmin;
    background-color: rgba(255,0,0,.3);
}
.slide7-bar2,
.slide10-bar2 {
    margin-top: 0;
    height: 6vmin;
}
.slide10-h1,
.slide7-h1 {
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: -16vmin;
    /* width: 30vmin; */
    height: 14vmin;
    /* outline: 1px solid red; */
    color: #fff;
    font-size: 10vmin;
    font-weight: 400;
}
.slide7-text,
.slide10-text {
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: 1vmin;
    width: 100%;
    height: 4vmin;
    /* outline: 1px solid red; */
    background: url('./assets/slide7_1.png') no-repeat center / contain;
}
.slide10-text {
    background-image: url('./assets/slide10_groom.png')
}
.slide8-top,
.slide13-top,
.slide11-top {
    position: absolute;
    top: 0;
    right: 0;
    /* outline: 1px solid red; */
    width: 30vmin;
    height: 30vmin;
    background: url('./assets/slide8_top.png') no-repeat center / contain;
}
.slide8-bg,
.slide11-bg,
.slide13-bg {
    position: absolute;
    bottom: 0;
    /* outline: 1px solid red; */
    padding: 15vmin 0 0;
    width: 100%;
    height: 20vh;
    background: url('./assets/slide8_bg.png') no-repeat center top / cover;
}
.slide8-h1,
.slide11-h1 {
    padding: 2vmin 0;
    background: url('./assets/slide8_bride.png') no-repeat center top / 6vmin auto;
    color: #666;
    font-size: 6vmin;
}
.slide11-h1 {
    background-image: url('./assets/slide11_groom.png');
}
.slide8-p,
.slide13-p,
.slide11-p {
    color: #999;
    font-size: 3vmin;
    line-height: 1.6;
}
.slide8-footer,
.slide11-footer {
    position: absolute;
    bottom: 2vmin;
    height: 6vmin;
    width: 100%;
    background: url('./assets/slide8_footer.png') no-repeat center / 70vw;
    /* outline: 1px solid red; */
}

.slide9-top1 {
    position: absolute;
    top: 4vh;
    width: 80vw;
    height: 8vh;
    /* outline: 1px solid red; */
    background: url('./assets/slide9_top1.png') no-repeat center / contain;
}

.slide9-top2 {
    position: absolute;
    top: 12vh;
    width: 40vw;
    height: 4vh;
    /* outline: 1px solid red; */
    background: url('./assets/slide9_top2.png') no-repeat center / contain;
}

.slide9-top3 {
    position: absolute;
    top: 0;
    right: -10vw;
    width: 30vmin;
    height: 30vmin;
    /* outline: 1px solid red; */
    background: url('./assets/slide9_top3.png') no-repeat right center / contain;
}
.slide9-flower {
    position: absolute;
    bottom: 0;
    left: -10vw;
    width: 40vmin;
    height: 40vmin;
    /* outline: 1px solid red; */
    background: url('./assets/slide9_flower.png') no-repeat left center / contain;
}

.slide12-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vmin;
    height: 30vmin;
    /* outline: 1px solid red; */
    background: url('./assets/slide12_top.png') no-repeat center / contain;
}
.slide12-flower {
    position: absolute;
    bottom: -4vmin;
    right: 0;
    width: 30vmin;
    height: 36vh;
    /* outline: 1px solid red; */
    background: url('./assets/slide12_flower.png') no-repeat center bottom / contain;

}
.slide12-text {
    position: absolute;
    bottom: 6vh;
    left: 6vw;
    width: 50vw;
    height: 10vmin;
    background: url('./assets/slide12_text.png') no-repeat center / contain;
    /* outline: 1px solid red; */
}

.slide13-h1 {
    /* position: absolute; */
    /* outline: 1px solid red; */
    width: 40vw;
    height: 10vw;
    margin: 0 auto;
    background: url('./assets/slide13_title.png') no-repeat center / contain;
}
.slide13-line {
    /* outline: 1px solid red; */
    width: 20vw;
    height: 10vw;
    margin: 0 auto;
    background: url('./assets/slide13_line.png') no-repeat center / contain;
}

.slide14-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vmin;
    height: 30vmin;
    /* outline: 1px solid red; */
    background: url('./assets/slide14_top.png') no-repeat center / contain;
}
.slide14-bottom {
    position: absolute;
    bottom: 0vmin;
    left: 0;
    width: 30vmin;
    height: 36vh;
    /* outline: 1px solid red; */
    background: url('./assets/slide14_bottom.png') no-repeat center bottom / contain;
}
.slide14-content {
    position: absolute;
    top: 5vh;
    width: 90vw;
    height: 90vh;
    /* outline: 1px solid red; */
    background: url('./assets/slide14_bg.png') no-repeat center / contain;
}
.slide14-h1 {
    margin: 10vh auto 20vh;
    width: 40vw;
    height: 10vh;
    /* outline: 1px solid red; */
    background: url('./assets/slide14_title.png') no-repeat center / contain;
}
.slide14-map {
    /* background: #fff;
    width: 50vw;
    height: 30vw;
    margin: 0 auto 5vh;
    background: url('./assets/map.png') no-repeat center / cover; */
}
.slide14-p1 {
    word-break: break-word;
    font-size: 4.5vmin;
    color: rgb(139, 137, 135);
    text-align: center;
    font-family: sbft_FZLanTingHeiS-EL-GB_NUDNH4KrFduPhEqc9Nz0-Q;
    white-space: pre-wrap;
    /* outline: 1px solid red; */
    padding: 0 10vw;
    line-height: 2;
}
.slide14-p2 {
    word-break: break-word;
    font-size: 4.5vmin;
    color: rgb(139, 137, 135);
    text-align: center;
    font-family: sbft_FZLanTingHeiS-EL-GB_z80ghJXVZe9m59_5-Ydk2g;
    font-weight: 700;
}
.slide14-line {
    margin: 1vh auto;
    width: 20vw;
    height: 4vh;
    /* outline: 1px solid red; */
    background: url('./assets/slide13_line.png') no-repeat center / contain;
}

#map {
    position: absolute;
    top: 22vh;
    left: 50%;
    margin-left: -25vw;
    z-index: 11;
    /* background: #fff; */
    width: 50vw;
    height: 30vw;
    background: url('./assets/map.png') no-repeat center / cover;
    transition: 1s;
}
#map span {
    color: #999;
    /* padding-top: 1em; */
    float: right;
    background-color: rgba(255, 255, 255, .7);
    padding: 2px;
    font-size: 3vmin;
}
#map.show-map span {
    display: none;
}
#map.show-map {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50vw;
    margin-left: -50vh;
    transform: rotate(-90deg);
    transition: 1s;
    width: 100vh;
    height: 100vw;
}